<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Welcome</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/aboutus">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gallery">Gallery</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/reservation">Reservation</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div>
        <h2>Table Booking Details</h2>
        <table class="table table-striped table-hover">
           <thead>
              <tr>
                 <th>Number</th>
                 <th>Firstname</th>
                 
                 
                 <th>Booking Date</th>
                 <th>Status</th>
              </tr>
           </thead>
           <tbody>
              <tr *ngFor="let item of firstname">
                  
                 <th >{{ item.Number }}</th>
                 <td>{{ item.firtname }}</td>
                 <td>{{ item.BookingDate }}</td>
                 <!-- <td><span *ngIf="item.Booked==true" style="background-color: violet;">{{item.Booked}}</span></td> -->
                 <td > <span   [ngStyle]="{'background-color': item.Booked?'green':'red'}">Available</span>
                    
                 <td *ngIf="item.Booked==true, else elseBlock">
                    <button type="button" class="btn btn-primary" (click)="changestatus(item.Number)">{{show ? 'Booked' : 'Book now'}}</button>
                   
                 </td><ng-template #elseBlock>Booked
                </ng-template>
                 <!-- <span *ngIf="item.Booked==true" else elseblock style="background-color: lawngreen;"></span> -->
                 
              </tr>
           </tbody>
        </table>
     </div>
     <footer>
        <font color="black">
            &copy;Reserved 2021</font> <br>
        
       <p align="center">Made with <i class="fa fa-heart pulse"></i> in India</p> 

    </footer>
</body>